body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Text color */
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e; /* Darker background for the form */
    border-radius: 10px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

.number{
    width: 450px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #333; /* Darker background for inputs and selects */
    color: #fff;
}
.number1{
    width: 470px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: #333; /* Darker background for inputs and selects */
    color: #fff;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green submit button */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}
